## Análise do dataset dos candidatos

In [6]:
import pandas as pd
import matplotlib.pyplot as plt

importa a variavel de outro notebook

In [7]:
%store -r df_total

In [8]:
df_total

,id_candidato,sexo,estado,idade,formacao,area_atuacao,tempo_experiencia,certificacoes,idiomas,pretensao_salarial,salario,aceita_viagem,aceita_mudanca,pcd
0,1,Masculino,SP,23.0,Mestrado,Financeiro,4.8,3.0,Espanhol,7500.0,7200.0,Não,Sim,Não
1,2,Masculino,MG,NaN,Ensino Médio,Administração,5.5,3.0,Francês,3700.0,3400.0,Sim,NaN,Não
2,3,Masculino,DF,61.0,Doutorado,Administração,6.3,3.0,Espanhol,9200.0,9600.0,Não,Sim,Não
3,4,Outro,PE,28.0,NaN,Engenharia,2.7,2.0,Espanhol,9300.0,10000.0,Não,Sim,Não
4,5,Outro,RS,19.0,Ensino Médio,Tecnologia,7.4,1.0,Nenhum,8100.0,8000.0,Sim,Não,Não
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,996,Masculino,MG,60.0,Mestrado,Recursos Humanos,5.4,2.0,Francês,9700.0,8200.0,NaN,Sim,Não
2996,997,NaN,CE,56.0,Doutorado,Engenharia,8.3,3.0,Espanhol,5000.0,4200.0,Não,Sim,Não
2997,998,NaN,RS,34.0,Doutorado,Marketing,NaN,1.0,Francês,3700.0,3900.0,Sim,Não,Não
2998,999,Feminino,PR,37.0,Ensino Médio,Tecnologia,3.5,1.0,Espanhol,10800.0,12900.0,Sim,Sim,Sim
2999,1000,Masculino,RJ,41.0,Ensino Médio,Tecnologia,4.5,2.0,Alemão,4700.0,4200.0,Sim,Sim,Não

In [9]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_candidato        3000 non-null   int64
 1   sexo                2700 non-null   object
 2   estado              2700 non-null   object
 3   idade               2700 non-null   float64
 4   formacao            2700 non-null   object
 5   area_atuacao        2700 non-null   object
 6   tempo_experiencia   2700 non-null   float64
 7   certificacoes       2700 non-null   float64
 8   idiomas             2700 non-null   object
 9   pretensao_salarial  2700 non-null   float64
 10  salario             2700 non-null   float64
 11  aceita_viagem       2700 non-null   object
 12  aceita_mudanca      2700 non-null   object
 13  pcd                 2700 non-null   object
dtypes: float64(5), int64(1), object(8)
memory usage: 328.3+ KB

### Analisando qual melhor cadidato para contratação